<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>again.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,956},{150,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,50}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{800,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,600}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,600}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>bofang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,906},{400,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,99}}</string>
                <key>sourceSize</key>
                <string>{400,99}</string>
            </dict>
            <key>fuhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,804},{100,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,160}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>kaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,804},{200,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,51}}</string>
                <key>sourceSize</key>
                <string>{200,51}</string>
            </dict>
            <key>next.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,804},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{200,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,154}}</string>
                <key>sourceSize</key>
                <string>{200,154}</string>
            </dict>
            <key>se_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,54},{230,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{230,44}}</string>
                <key>sourceSize</key>
                <string>{230,46}</string>
            </dict>
            <key>se_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,966},{230,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,46}}</string>
                <key>sourceSize</key>
                <string>{230,46}</string>
            </dict>
            <key>suc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,804},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>success.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,286},{450,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,34}}</string>
                <key>sourceSize</key>
                <string>{450,34}</string>
            </dict>
            <key>time.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,54},{300,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,21}}</string>
                <key>sourceSize</key>
                <string>{300,21}</string>
            </dict>
            <key>time_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,356},{300,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,24}}</string>
                <key>sourceSize</key>
                <string>{300,24}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,804},{241,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,140}}</string>
                <key>sourceSize</key>
                <string>{241,140}</string>
            </dict>
            <key>wrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,804},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>zanting.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,966},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1275,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c965be5dae33acd3f369bfd5607c51e:a9b3326c1d8ce337bf49d3651e127a45:ef86396999e18097aad14daa6638d5f9$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
